.form-wrapper {
  background-color: var(--pgn-color-white);
  border-radius: 8px;
  border: 1px solid var(--pgn-color-gray-200);
}

.form-title {
  color: var(--pgn-color-primary-base);

  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.form-subtitle {
  color: var(--pgn-color-primary-base);
  font-size: 16px;
}

.form-select {
  width: 99%;
  max-height: 50px;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .select-dialing .react-select__control {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-phone-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 767px) {
  .select-dialing .react-select__control {
    border-radius: 0.25rem;
    border-right: 1px solid $border-form-color;
  }

  .form-phone-input {
    border-radius: 0.25rem;
  }
}

.form-phone-input input.form-control {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @media screen and (max-width: 767px) {
    border-left: $border-form-color;
    border: 1px solid $border-form-color;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

.form-input input.form-control {
  border: 1px solid var(--pgn-color-gray-200);
}

.form-input input.form-control.is-invalid {
  border-color: var(--pgn-color-red-vue-500);
}

.form-input input.form-control:hover {
  outline: 2px solid var(--pgn-color-gray-200);
}

.form-input-disabled input.form-control,
.form-input-disabled input.form-control:hover {
  padding-left: 0;
  outline: none;
  background-color: var(--pgn-color-white);
  border: none;
}

.form-input-disabled .pgn__form-control-floating-label-text {
  position: relative;
  left: -15px;
}

.icon-header {
  position: absolute;
  top: 20px;
  right: 3px;
}

.pgn__icon.icon-header {
  height: 20px;
}
