.terms-section {
  padding: 2rem;

  h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--pgn-color-primary-base);
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .terms-content {
    border: 1px solid var(--pgn-color-gray-vue-200);
    border-radius: 8px;
  }

  .description-text {
    color: var(--pgn-color-primary-base);
  }

  .pgn__form-checkbox-input {
    min-width: 18px;
  }

  .pgn__form-text-invalid {
    font-size: 0.8rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  
  @media screen and (max-width: 576px) {
    padding: 1rem;
  }
}

.section-buttons {
  padding: 2rem;
  border-top: 1px solid var(--pgn-color-gray-vue-200);
}
