.dashboard-container {
  background-color: var(--pgn-color-gray-vue-050);
  min-height: 100vh;
}

.tabs-container {
  background-color: var(--pgn-color-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--pgn-color-card-shadow);
  margin: 0 2rem;
  margin-top: 2rem;
  border: 1px solid var(--pgn-color-gray-vue-300);

  @media screen and (max-width: 576px) {
    margin: 0.5rem;
    margin-top: 1rem;
  }
}

.tabs-wrapper {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1.5em 1.5em 1.2em 1.5em;
  background-color: var(--pgn-color-gray-vue-200);
}

nav[role='tablist'] {
  padding-left: 1em;
}

a.nav-link:not(.active)[role='tab'][data-rb-event-key] {
  border-color: var(--pgn-color-gray-vue-300);
}

a.nav-link.active[role='tab'][data-rb-event-key],
#pgn__tab-toggle,
#tabs-tab-null {
  border-color: var(--pgn-color-primary-base);
  background-color: var(--pgn-color-primary-base);
  color: var(--pgn-color-white);
}

#tabs-tab-past-exams,
#tabs-tab-exams {
  padding: 0.5rem 2rem;
}

div.pgn__bubble.pgn__bubble-error.pgn__tab-notification.expandable {
  background-color: var(--pgn-color-green-vue-150);
  border-color: var(--pgn-color-white);
  color: var(--pgn-color-primary-base);
  right: 10px;
  top: 5px;
}

.tab-content-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border-radius: 4px;
}

.no-content-placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  color: var(--pgn-color-gray-vue-450);
  margin: 1em 3em;
  margin-top: 2.5em;
  border: 1px solid var(--pgn-color-gray-200);
  border-radius: 8px;

  @media screen and (max-width: 576px) {
    margin: 1em;
    padding: 24px;
  }
}

.no-content-placeholder-container h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--pgn-color-gray-vue-600);
}

.no-content-placeholder-container p {
  font-size: 1rem;
  line-height: 1.5;

  @media screen and (max-width: 576px) {
    text-align: center;
  }
}
