@import 'react-paragon-topaz/src/variables.scss';

$blue-90 : #002646;

$bg-main-color: #f3f3f3;
$bg-dashboard-color: #f8f9fa;

$gray-border: $gray-40;

$card-bg: $white;
$card-shadow: rgba(0, 0, 0, 0.1);

$placeholder-text: $gray-70;
$placeholder-border: $gray-30;
$placeholder-title: $gray-80;
