@import 'react-paragon-topaz/src/variables.scss';

$blue-90: #002646;

$bg-main-color: #f3f3f3;
$bg-dashboard-color: #f8f9fa;

$gray-border: $gray-40;

$card-bg: $white;
$card-shadow: rgba(0, 0, 0, 0.1);

$placeholder-text: $gray-70;
$placeholder-border: $gray-30;
$placeholder-title: $gray-80;

$bg-card-exam: #cce3dd;
$bg-card-dark: #A0A0A0;
$bg-badge-complete: #3d8057;
$bg-badge-scheduled: #74ad10;
$bg-badge-unscheduled: #fdb317;
$bg-badge-canceled: #C21D00;

$card-border-color: #c2c2c2;

$bg-tab-notification: #C2E9EA;
$tab-notification-color: #333333;

$error-text-color: #555;
