@use "react-paragon-topaz/src/index.scss";

.pageWrapper{
  background-color: var(--pgn-color-gray-vue-025);
}

// Remove modal top and bottom shadows
[dir="ltr"] .pgn__modal-body::after,
.pgn__modal-body::before {
  background-image: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--pgn-color-primary-base);
}

